<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923734956783-covfkrli7j8t5tosme9ietjo5eelafme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923734956783-covfkrli7j8t5tosme9ietjo5eelafme</string>
	<key>API_KEY</key>
	<string>AIzaSyAQgCAfZt_whPsrfYRdndxU--l_8ywoKuI</string>
	<key>GCM_SENDER_ID</key>
	<string>923734956783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.FriendlyChat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-10190</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-10190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923734956783:ios:235cb6831fc61c4c</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-10190.firebaseio.com</string>
</dict>
</plist>